.col-xs-12 {
    width: 100%;
}
.h2-heading {
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
    font-family: 'tungstenw05-medium', 'Oswald', sans-serif;
}
.black-color {
    color: #000000 !important;
}
.txt-request {
    font-size: 25px;
    margin-top: 10px;
}

.light-gray {
    color: #7e7e7e !important;
}
